body {
    background-image: url("deep_field.jpg");
    font-family: sans-serif;
}


table {
    border-collapse: collapse;
    margin: auto;
}

#video {
    text-align: center;

    padding-top: 30px;
}

#supernova_vid {
    height: 500px;
}

.name {
    text-align: right;
}

.score {
    text-align: left;
}

.container {
    margin: auto;
    background-color: gainsboro;
    min-height: 100vh;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;

}

.FixedHeightContainer {
    height: 400px;
    overflow: auto;
}

#title {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 300%;
}


td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 200%
}

.table_header {
    font-weight: bold;
}

.name_header {
    text-align: right;
    border-right: 4px solid black;
}

.score_header {
    text-align: left;
    border-left: 4px solid black;
}

.name {
    text-align: right;
    border-right: 4px solid black;
}

.score {
    text-align: left;
    border-left: 4px solid black;
}